<!-- ADMOB SAFE SPACE -->
<div style="
position:fixed;
bottom:95px;
left:0;
right:0;
height:50px;
z-index:998;
">
</div>

<!-- FLOATING GLASS NAVBAR -->
<div style="
position:fixed;
bottom:15px;
left:10px;
right:10px;
height:80px;
border-radius:25px;
background:rgba(15,23,42,0.85);
backdrop-filter:blur(15px);
box-shadow:0 8px 25px rgba(0,0,0,0.4);
display:flex;
justify-content:space-around;
align-items:center;
z-index:999;
">

<a href="/index.html"
style="text-align:center;color:#e2e8f0;text-decoration:none;">
<div style="font-size:24px;">🏠</div>
<div style="font-size:13px;">Home</div>
</a>

<a href="/medicines/index.html"
style="text-align:center;color:#e2e8f0;text-decoration:none;">
<div style="font-size:24px;">💊</div>
<div style="font-size:13px;">Medicines</div>
</a>

<a href="/games.html"
style="text-align:center;color:#e2e8f0;text-decoration:none;">
<div style="font-size:24px;">🎮</div>
<div style="font-size:13px;">Games</div>
</a>

<a href="https://youtube.com/@lynx_argon_op"
target="_blank"
style="text-align:center;color:#e2e8f0;text-decoration:none;">
<div style="font-size:24px;">▶️</div>
<div style="font-size:13px;">YT</div>
</a>

</div>
<script src="/ads.js"></script>