# Python
venv/
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment
.env

# Django
media/
staticfiles/

# Android build files
*.apk
*.aab
*.apks
*.idsig
android.keystore

# Firebase cache
.firebase/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
# Android
app/build/
build/
.gradle/

# APK/AAB
*.apk
*.aab
*.apks
*.idsig

# Keystore
*.keystore
android.keystore